#python==3.9.21
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
xgboost==2.1.4
catboost==1.2.3
mlxtend==0.23.4
shap==0.47.2
matplotlib==3.9.2
joblib==1.4.2
streamlit==1.45.1
chardet==5.2.0
